*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: #f6f7f8;
  opacity: 1;
  font-family: "Manrope", serif;
  font-size: 1.6rem;
  padding: 2rem 3rem;
  backface-visibility: hidden;
}
.failed {
  font-size: 2rem;
  margin: auto;
}
#header {
  background-color: #fff;
  border-radius: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 7.2rem;
  padding: 0 2rem;
  margin: 0 auto 3rem auto;
}

.techCare-logo {
  display: block;
  width: 21.1rem;
  height: 4.8rem;
}

.nav {
  width: 66.3rem;
  height: 4.8rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav a.active {
  background: #01f0d0;
}

.overview,
.patients,
.schedule,
.message {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  width: 15%;
  color: #072635;
  font-weight: bold;
  font-size: 2rem;
  padding: 0.8rem 0.7rem;
  border-radius: 41px;
}

.transactions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  width: 19%;
  color: #072635;
  font-weight: bold;
  font-size: 2rem;
  padding: 0.8rem 0.7rem;
  border-radius: 41px;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25.1rem;
  height: 4.8rem;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  width: 18rem;
}
.title,
.specialization {
  font-size: 13px;
  color: #072635;
}
.specialization {
  color: #707070;
}
.vertical-line {
  width: 1px;
  height: 60%;
  background-color: #ededed;
  margin: auto 1rem;
}
.setting {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15%;
}
.gear {
  width: 1.9rem;
  height: 2rem;
}
.dots {
  width: 0.4rem;
  height: 1.8rem;
}

/* main container */
.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

/* style patients section */
#patients {
  width: 25%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  padding: 1.5rem 0;
}
#search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1.3rem 0;
}
#patients-heading {
  font-size: 2rem;
  font-weight: 800;
  color: #072635;
  margin: 0 2rem;
}
.visually-hidden {
  display: none;
}

#search-patient {
  width: 60%;
  text-decoration: none;
  border: none;
  font-size: 1.3rem;
  padding: 0.5rem 0.8rem;
  margin-right: 1rem;
  border-radius: 1.6rem;
  color: #072635;
}

#patient-list-wrapper {
  overflow-y: auto;
  height: 90rem;
  width: 100%;
}
#patient-list-wrapper::-webkit-scrollbar {
  width: 0.8rem;
  border-radius: 1.6rem;
}
#patient-list-wrapper::-webkit-scrollbar-thumb {
  background-color: #072635;
  border-radius: 1.6rem;
}
#patient-list-wrapper::-webkit-scrollbar-track {
  border-radius: 1.6rem;
  background-color: #e3e4e6;
}
.patient-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 0.7rem;
}
.patients-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  height: 6rem;
  width: 100%;
  cursor: pointer;
}
.patients-info__details {
  display: flex;
  align-items: center;
  width: 100%;
}
#patients-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  font-size: 2rem;
}
.patients-img {
  width: 4.8rem;
  height: 4.8rem;
  margin: 1rem 2rem;
}
.patients-name {
  font-size: 1.6rem;
  color: #072635;
  font-weight: 700;
}
.patients-inner_details {
  font-size: 1.5em;
  color: #707070;
}
.three-dots {
  width: 1.8rem;
  height: 0.4rem;
  margin-right: 1rem;
}
.active-patient {
  background-color: #d8fcf7;
}

/* style patient Diagnosis History  */
#patient-history {
  display: flex;
  flex-direction: column;
  width: 47%;
  gap: 2rem;
}
#diagnosis-history,
#diagnostic-list {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-radius: 1.6rem;
  font-size: 3rem;
  gap: 2rem;
}
#history-heading {
  font-size: 0.67em;
  color: #072635;
  margin: 1rem 0 1.5rem;
}
#chart {
  max-width: 100%;
  max-height: 35rem;
  height: auto;
  background-color: #f4f0fe;
  border-radius: 1.6rem;
  display: flex;
  padding: 1rem 2rem;
  font-size: 2rem;
  box-sizing: border-box;
}
.analysis {
  display: flex;
  flex-direction: column;
  width: 70%;
  box-sizing: border-box;
  padding-bottom: 4rem;
}
.duration {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
}

#month-range {
  display: inline-block;
  border: none;
  margin-right: 2rem;
  background-color: inherit;
}

.blood-pressure-chart {
  flex: 2;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
}
.more-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  padding: 1rem;
}
.systolic-details,
.diastolic-details {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  font-weight: 600;
}
#systo-bull {
  width: 1rem;
  height: 1rem;
  background-color: #e66fd2;
  border-radius: 5rem;
  display: inline-block;
  margin-right: 0.5rem;
}
#diasto-bull {
  width: 1rem;
  height: 1rem;
  background-color: #8c6fe6;
  border-radius: 5rem;
  display: inline-block;
  margin-right: 0.5rem;
}
.value {
  font-weight: 800;
  font-size: 1.3em;
  margin: 0.5rem 0;
}
.level {
  font-size: 0.9em;
}
hr {
  margin: 2rem 0;
}
#diagnosis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 1.3rem;
}
#resp-info {
  background-color: #e0f3fa;
}
#temp-info {
  background-color: #ffe6e9;
}
#heart-info {
  background-color: #ffe6f1;
}
#resp-info,
#temp-info,
#heart-info {
  width: 32%;
  height: 24.2rem;
  border-radius: 1.6rem;
  font-size: 2.5rem;
  padding: 1.5rem;
}
#resp-heading,
#temp-heading,
#heart-heading {
  font-weight: 500;
  font-size: 1em;
}
.bpm,
#fahrenheit {
  font-size: 1.6em;
  margin: 0.7rem 0 1.5rem;
}
#diagnostic-header {
  display: flex;
  justify-content: space-between;
  border-radius: 1.6rem;
  padding: 1rem 1.5rem;
  background-color: #f6f7f8;
  font-size: 1.5rem;
}
#diagnostic-header > * {
  font-size: 1em;
}
.problems {
  width: 25%;
}
.description {
  width: 40%;
}
.status {
  width: 15%;
}
#list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  max-height: 10rem;
  overflow-y: auto;
}
#list::-webkit-scrollbar {
  width: 0.6rem;
}
#list::-webkit-scrollbar-thumb {
  background-color: #072635;
  border-radius: 1.6rem;
}
#list::-webkit-scrollbar-track {
  border-radius: 1.6rem;
  background-color: #e3e4e6;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #f6f7f8;
  font-size: 1.5rem;
}
.row > * {
  font-size: 0.85em;
}
/* End style patient Diagnosis History  */

.search {
  display: flex;
  align-items: center;
}

/* patient-profile styles */
#patient-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: auto;
  border-radius: 1.6rem;
  gap: 2rem;
}
.more-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  background-color: #fff;
  padding: 2rem 1rem;
}
#patient-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#patient-img {
  width: 20rem;
  height: 20rem;
  margin: 1.5rem auto;
}
#patient-name {
  color: #072635;
  font-weight: 800;
  font-size: 2.4rem;
  letter-spacing: 0;
  margin-bottom: 2rem;
}

#dob,
#gender,
#contact-info,
#emergency-contact,
#insurance-provider {
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
  padding: 0.8rem 0;
}
.details-info {
  font-size: 2.4rem;
}
#date-details {
  font-weight: 800;
  color: #072635;
}
#birth-icon,
#female-icon,
#male-icon,
#insurance-icon,
.phone-icon {
  margin: 0 1.5rem;
  max-width: 7rem;
  width: 4.3rem;
}
#show-info {
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.8rem 1rem;
  background-color: #01f0d0;
  border-radius: 5rem;
  color: #072635;
  font-weight: 800;
  width: 70%;
  margin: 1rem auto;
}

#lab-results {
  background-color: #fff;
  border-radius: 1.6rem;
  padding: 2rem 2rem;
}
.results {
  font-size: 1.8rem;
  font-weight: 800;
  color: #072635;
}
#tests-wrapper {
  overflow-y: auto;
  max-height: 15rem;
  /* border: 1px solid blue; */
  list-style-type: none;
}
#tests-wrapper::-webkit-scrollbar {
  width: 0.6rem;
}
#tests-wrapper::-webkit-scrollbar-thumb {
  background-color: #072635;
  border-radius: 1.6rem;
}
.test-active {
  background-color: #f6f7f8;
}
#tests-wrapper::-webkit-scrollbar-track {
  background-color: #e3e4e6;
  border-radius: 1.6rem;
}

.test {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99%;
  margin: auto;
  padding: 1.3rem 1.2rem;
  cursor: pointer;
}
.text {
  font-size: small;
}
/* end of patient-profile */

/* spinner style */
.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 1);
  z-index: 1000;
}
.spinner p {
  font-size: 2rem;
}
.hidden {
  display: none;
}
.spinner-icon {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* media queries */
@media screen and (max-width: 1023px) {
  header {
    width: 100%;
    height: auto;
    padding: auto 0.9rem;
  }
  .overview,
  .patients,
  .schedule,
  .message,
  .transactions {
    width: auto;
    display: none;
  }
  a > img {
    margin-right: 0.5rem;
  }
  .profile {
    width: 18rem;
  }
  .nav {
    width: auto;
  }
  .vertical-line,
  .setting {
    display: none;
  }
  .container {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  #patients {
    width: auto;
  }
  #patient-history {
    width: auto;
  }
  #patient-profile {
    width: auto;
  }
  #more-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-area: 2rem;
  }
}
@media screen and (max-width: 768px) {
  #chart {
    flex-direction: column;
  }
  .analysis {
    max-height: 20rem;
    width: auto;
    margin-bottom: 1rem;
  }
  hr {
    display: none;
  }
  .more-info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #diagnosis {
    display: flex;
    justify-content: space-around;
    width: auto;
    flex-wrap: wrap;
  }
  #resp-info,
  #temp-info,
  #heart-info {
    width: 25rem;
  }
}
